footer {
    position: fixed;
    padding:10px 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: left;
    
}


@media only screen and (max-width: 990px) {
    footer{
        padding: 5px;
    }
}
